<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.iplocations.providers" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<net.vieapps.iplocations.providers first="ipstack" second="ipapi">
		<provider name="ipstack" uriPattern="http://api.ipstack.com/{ip}?access_key={accessKey}" accessKey="your-access-key" />
		<provider name="ipapi" uriPattern="http://ip-api.com/json/{ip}" accessKey="your-access-key" />
	</net.vieapps.iplocations.providers>
</configuration>